%section.p-section-card
  .p-section-card__header.p-content-header
    %h2.p-content-header__title #{@place.name} の情報修正

  = form_with model: @place, url: visited_place_path(@place), local: true, class: 'p-form p-section-card__content' do |f|
    %section.p-form-section.p-form-section--2-columns
      %h3.p-form-section__title 場所
      %p.p-form-section__input-group
        = f.label :name, class: 'c-label' do
          %span.c-label__text{ class: "#{'c-label__text--has-error' if f.object.errors[:name].present?}"} 名称
          = f.text_field :name, class: "c-input #{'c-input--has-error' if f.object.errors[:name].present?}"
          - if f.object.errors[:name].present?
            %span.c-error-message= f.object.errors.full_messages_for(:name).join
      %p.p-form-section__input-group
        = f.label :address, class: 'c-label' do
          %span.c-label__text{ class: "#{'c-label__text--has-error' if f.object.errors[:address].present?}"} 住所
          = f.text_field :address, class: "c-input #{'c-input--has-error' if f.object.errors[:address].present?}"
          - if f.object.errors[:address].present?
            %span.c-error-message= f.object.errors.full_messages_for(:address).join

    %section.p-button-group
      = link_to 'キャンセル', place_path(@place), class: 'c-button'
      = f.submit '保存', class: 'c-button c-button--primary'
