%section.p-form-section.p-form-section--2-columns
  %p.p-form-section__input-group
    = f.label :visited_on, class: "c-label" do
      %span.c-label__text{ class: "#{'c-label__text--has-error' if f.object.errors[:visited_on].present?}"} 訪問日
      = f.date_field :visited_on, class: "c-input #{'c-input--has-error' if f.object.errors[:visited_on].present?}"
      - if f.object.errors[:visited_on].present?
        %span.c-error-message= f.object.errors.full_messages_for(:visited_on).join
  %fieldset.p-form-section__input-group.p-fieldset
    %legend.p-fieldset__legend リピートあり?
    %ul.p-fieldset__list
      - VisitedPlaceReport.evaluation.values.each do |value|
        %li.p-fieldset__list-item
          = label_tag nil, class: 'c-radio-label' do
            = f.radio_button(:evaluation, value, class: 'c-radio-label__radio-button')
            %span.c-radio-label__text= t("enumerize.visited_place_report.evaluation.#{value}")

%section.p-button-group
  = link_to 'キャンセル', place_path(place), class: 'c-button'
  = f.submit '保存', class: 'c-button c-button--primary'
