%section.p-home-section--2-columns
  %section.p-section-card
    .p-section-card__header.p-content-header
      %h2.p-content-header__title また行きたい
    %dl.p-section-card__content.p-home-definition-list
      - @grouped_reports[:good].each do |report|
        %dt.p-home-definition-list__title= link_to report.visited_place.name, visited_place_path(report.visited_place_id), class: 'c-text-link--light'
        %dd.p-home-definition-list__definition= "訪問日: #{l(report.visited_on)}"

  %section.p-section-card
    .p-section-card__header.p-content-header
      %h2.p-content-header__title たまになら
    %dl.p-section-card__content.p-home-definition-list
      - @grouped_reports[:not_bad].each do |report|
        %dt.p-home-definition-list__title= link_to report.visited_place.name, visited_place_path(report.visited_place_id), class: 'c-text-link--light'
        %dd.p-home-definition-list__definition= "訪問日: #{l(report.visited_on)}"
