%h2= @place.name

%p#notice= notice

%dl
  %dt 住所
  %dd= @place.address

%h3 訪問記録
- @place_evaluations.each do |evaluation|
  %dl
    %dt 訪問日
    %dd= l(evaluation.visited_on)
    %dt リピートあり?
    %dd= evaluation.point_text

= link_to 'Back', stocks_path
